<!DOCTYPE html>
<header>
	<style>
		<% include ../style/header.css %>
	</style>
	<div class="maxWrapper">
		<div id="logoBar">
			<div class="logotype"><a href="/">와동개발자협동조합</a></div>
		</div>
		<% if(login && user.nickname) { %>
			<a href="/user/<%=user.nickname%>">
				<div id='dashboard'>
					<img id='userpic' src='<%= user.picture %>'>
					<div id='usernick' class='thin'><%= user.nickname %></div>
					<div id='userkarma' class='hh' value=<%=user.karma%> > <%= user.karma %> </div>
					<script>
					    (function numberWithCommas() {
					        $('#userkarma').text($('#userkarma').attr('value').toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
					    })() // thanks to Elias Zamaria
					</script>
				</div>
			</a>
		<% } else if(typeof isIntro === 'undefined') { %>
			<button id='login' onclick="location.href='/auth/fb'">로그인</button>
		<% } %>
		</div>
</header>