<!DOCTYPE html>
<% include ./templates/head.ejs %>
<body>
    <% include ./templates/header.ejs %>
    <div class="contentBox maxWrapper">
        <div class="content">
            <% if(!login) { %>
                <% include ./templates/intro.ejs %>
            <% } else { %>
                <section id="createWork">
                    <form action="/" method="post">
                        <div>제목:</div>
                        <input type="text" name="name">
                        <div>목적:</div>
                        <input type="text" name="desc">
                        <input type="submit">
                    </form>
                </section>
                <section id="openedWorks">
                    <!--works go here-->
                    <ul>
                        <% for( var i = 0; i < works.length; i++) { %>
                            <li>
                                <a href="work/<%=works[i].id%>/<%= works[i].name %>"><%= works[i].name %></a>
                                <div><%= works[i].desc %></div>
                            </li>
                        <% } %>
                    </ul>
                </section>
                <section id="joinedWorks">
                    <!--user specific work-->
                </section>
                <script>
                    var socket = io.connect('http://<%=host%><%=port%>');
                    $('a.dislike').click(function(){
                        console.log("dislike emitted");
                        var id = $(this).attr('id');
                        socket.emit('client_update_dislike',{
                            workId: id,
                            <% if(user) { %>
                            userId: <%=user.id%>
                            <% } else { %>
                            user: null
                            <% } %>
                        });
                    });
                    
                    socket.on('server_update',function(data){
                        // update view
                    });
                </script>
            <% } %>
        </div>
    </div>
    <% include ./templates/footer.ejs %>
</body>
</html>
