<!DOCTYPE html>
<head>
	<% include ./templates/head.ejs %>
	<style>
		<% include ./style/userpage.css %>
	</style>
	<% if(login && user.nickname == object.nickname) { %>
		<link rel="stylesheet" href="//cdn.jsdelivr.net/editor/0.1.0/editor.css">
	    <script src="/js/editor.js"></script>
	    <script src="/js/marked.js"></script>
	    <script>
			function editBio() {
				$('#editBio').attr({
						id: 'saveBio',
						onClick: 'saveBio()'
				}).text('저장하자');
				$('#bio').html('<div class="editor-wrapper"><textarea id="bioTextarea" class="editor" name="bio" rows="8" cols="40"></textarea></div>');
				bioEditor = new Editor({
					element: document.getElementById('bioTextarea')
				});
				bioEditor.render();
				bioEditor.codemirror.setValue($('#originMD').text().trim());
				$("html, body").animate({scrollTop: $(document).height()});
			}
	        function saveBio() {
	            $.ajax({
	                type: "POST",
	                url: '/user/<%=user.name%>',
	                xhrFields: {
	                       withCredentials: true
	                },
	                data: {
	                    bio: bioEditor.codemirror.getValue()
	                },
	                success: function(data, status) {
	                    console.log(data);
	                    switch(data) {
	                        case '200': {
	                            location.reload();
	                            break;
	                        }
	                        case '400': {
	                            //미구현
	                             break;
	                        }
	                        case '500': {
								alert('서버에 문제가 있다. 담당자를 때려죽이고 고쳐서 커밋하자.');
	                            //임시구현
	                        }
	                    }
	                }
	            });
	        }
	    </script>
		<div id='originMD'>
			<%- include('../../public/userbios/'+object.nickname+'.md') %>
		</div>
	<% } %>
</head>
<body>
	<header>
        <% include ./templates/header.ejs %>
    </header>
		<!--여기 소켓통신으로 동적으로 유저 정보 수정하도록-->
	<div class="contentBox maxWrapper">
        <div class="content">
			<article>
				<div id='titlefield'>
					<img id='obUserpic' src="<%= object.picture %>">
					<div id='title' class='black'><%= object.nickname %></div>
				</div>
				<section>
					<h1>조합원 정보</h1>
					<div id='details'>
						<div class='field'>
							<div class='thin tag'>이름</div>
							<div class='black value'><%= object.name %></div>
						</div>
						<div class='field'>
							<div class='thin tag'>업보</div>
							<div class='black value' id='karma' value=<%= object.karma %>><%= object.karma %></div>
							<script>
							    (function numberWithCommas() {
							        $('#karma').text($('#karma').attr('value').toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
							    })() // thanks to Elias Zamaria
							</script>
						</div>
						<div class='field'>
							<div class='thin tag'>이메일</div>
							<div class='black value'><%= object.email %></div>
						</div>
						<div class='field'>
							<div class='thin tag'>가입 순서</div>
							<div class='black value'><%= object.id %></div>
						</div>
					</div>
				</section>
				<section>
					<div class='sectionTitle'>
						<h1>소개</h1>
						<% if(login && user.nickname == object.nickname) { %>
							<% if(!object.bio) { %>
								<button id='editBio' onClick='editBio()'>쓰자</button>
							<% } else { %>
								<button id='editBio' onClick='editBio()'>고치자</button>
							<% } %>
						<% } %>
					</div>
					<div id='bio'>
						<% if(object.bio) { %>
							<%- include('../../public/userbios/'+object.nickname+'.html') %>
						<% } %>
					</div>
				</section>
			</article>
		</div>
	</div>
	<footer>
        <% include ./templates/footer.ejs %>
    </footer>
</body>
</html>