<!DOCTYPE html>
<% include ./templates/head.ejs %>
<body>
	<header>
        <% include ./templates/header.ejs %>
    </header>
	<section>
		<%= work.name %>
		<%= work.desc %>
	</section>
	<section>
		<form action="/work/<%=work.id%>/<%=work.name%>" id="editFrontpage" method="post">
			<input type="hidden" name="reqType" value="md">
			<textarea name="md" id="" cols="30" rows="10"></textarea>	
			<input type="submit">
		</form>
	</section>
	<section>
		<div>
			<form action="/work/<%=work.id%>/<%=work.name%>" id="editNeeds" method="post">
				<input type="hidden" name="reqType" value="need">
				<textarea name="need" id="" cols="30" rows="10"></textarea>
				<input type="submit">
			</form>
		</div>
		<div>
			<!--group participants-->
		</div>
	</section>
	<section>
		<!--print group Q&A-->
	</section>
	<footer>
        <% include ./templates/footer.ejs %>
    </footer>
</body>
</html>