<!DOCTYPE html>
<head>
	<% include ./templates/head.ejs %>
	<style>
		<% include ./style/workpage.css %>
	</style>
	<% if(login && isJoined) { %>
		<link rel="stylesheet" href="//cdn.jsdelivr.net/editor/0.1.0/editor.css">
	    <script src="/js/editor.js"></script>
	    <script src="/js/marked.js"></script>
	    <script>
			var editors = [];
			function editMD(id) {
				$('#edit'+id).attr({
					onClick: 'saveMD("'+id+'")'
				}).text('저장하자');
				$('#'+id).html('<div class="editor-wrapper"><textarea id='+id+'Textarea" class="editor" name="bio" rows="8" cols="40"></textarea></div>');
				editors[id] = new Editor({
					element: document.getElementById(id+'Textarea')
				});
				editors[id].render();
				editors[id].codemirror.setValue($('#origin'+id).text().trim());
				//$("html, body").animate({scrollTop: $(document).height()});
			}
	        function saveMD(id) {
	            $.ajax({
	                type: "POST",
	                url: location.href,
	                xhrFields: {
	                       withCredentials: true
	                },
	                data: {
	                    readme: (id=='readme')?editors.readme.codemirror.getValue():null,
						needs: (id=='needs')?editors.neeeds.codemirror.getValue():null,
	                },
	                success: function(data, status) {
	                    console.log(data);
	                    switch(data) {
	                        case '200': {
	                            location.reload();
	                            break;
	                        }
	                        case '400': {
	                            //미구현
	                             break;
	                        }
	                        case '500': {
								alert('서버에 문제가 있다. 담당자를 때려죽이고 고쳐서 커밋하자.');
	                            //임시구현
	                        }
	                    }
	                }
	            });
	        }
	    </script>
		<% if(work.frontboard) { %>
			<div id='originreadme' class='originCon'>
				<%- include('../../public/workpage/'+work.name+'/front.md') %>
			</div>
		<% } %>
		<% if(work.needs) { %>
			<div id='originneeds' class='originCon'>
				<%- include('../../public/workpage/'+work.name+'/needs.md') %>
			</div>
		<% } %>
	<% } %>
</head>
<body>
	<header>
        <% include ./templates/header.ejs %>
    </header>
	<div class="contentBox maxWrapper">
        <div class="content">
			<article>
				<div id="workhead">
					<h1><%= work.name %></h1>
					<span id="buttons">
						<button class="dislike" id="<%=work.id%>" dislikes=<%=numDislikes%>>싫어요 <span id='dislikeNum' class='hh'><%= numDislikes %></span></button>
					</span>
					<h2><%= work.desc %></h2>
				</div>
				<section id='readmeSec' class='md'>
					<div class='sectionTitle'>
						<h3>README.md</h3>
						<% if(login && isJoined) { %>
							<% if(!work.frontboard) { %>
								<button class='editMD' id='editreadme' onClick='editMD("readme")'>쓰자</button>
							<% } else { %>
								<button class='editMD' id='editreadme' onClick='editMD("readme")'>고치자</button>
							<% } %>
						<% } %>
					</div>
					<div id='readme'>
						<%- include('../../public/workpage/'+work.name+'/front.html') %>
					</div>
				</section>
				<section id='membersSec' class='half md'>
					<div class='sectionTitle'>
						<h3>참여하는 무리</h3>
						<button class="joins" id="<%=work.id%>">참여</button>
					</div>
					<div id='members'>
						<% for(var i = 0; i < members.length; i++) { %>
							<a href="/user/<%=members[i].nickname%>" class='memField'>
								<img class='memPic' src="<%=members[i].picture%>">
								<div class='memNick'><%=members[i].nickname%></div>
							</a>
						<% } %>
					</div>
				</section>
				<section id='needsSec' class='half md'>
					<div class='sectionTitle'>
						<h3>이런 사람 와라</h3>
						<% if(login && isJoined) { %>
							<% if(!work.needs) { %>
								<button class='editMD' id='editneeds' onClick='editMD("needs")'>쓰자</button>
							<% } else { %>
								<button class='editMD' id='editneeds' onClick='editMD("needs")'>고치자</button>
							<% } %>
						<% } %>
					</div>
					<div id='needs'>
						<%- include('../../public/workpage/'+work.name+'/needs.html') %>
					</div>
				</section>
				<section>
					<h3>로그</h3>
					<!--여기에 소켓으로 로그 긁어와서 보여주기-->
					<input type="text" id="logText">
					<input type="button" class="emitLog" value="똥싸기">
					<div>
						<ul id="logList"></ul>
					</div>
				</section>
			</article>
		</div>
	</div>
	<footer>
        <% include ./templates/footer.ejs %>
    </footer>
	<script>
		var socket = io.connect('http://<%=host%><%=port%>');
		var disliked = false;
		
		socket.on('news', function () {
			socket.emit('clientGetLogs',{
				workId: <%=work.id%>
			});	// 로그를 가져옴
			
			$('.dislike').click(function(){
				console.log("dislike emitted");
				var id = $(this).attr('id');
				socket.emit('clientUpdateDislike', {
					onlyOneUser: false,
					workId: <%=work.id%>,
					<% if(user) { %>
					userId: <%=user.id%>
					<% } else { %>
					user: null
					<% } %>
				});
			});
			$('.joins').click(function(){
				console.log("joins emitted");
				var id = $(this).attr('id');
				socket.emit('clientUpdateJoin',{
					workId: <%=work.id%>,
					<% if(user) { %>
					userId: <%=user.id%>
					<% } else { %>
					user: null
					<% } %>
				});
			});
			$('.emitLog').click(function(){
				console.log("emitLog emitted");
				var log = $('#logText').val();
				socket.emit('clientPostLog',{
					text: log,
					workId: <%=work.id%>,
					workName: "<%=work.name%>",
					<% if(user) { %>
					userId: <%=user.id%>
					<% } else { %>
					user: null
					<% } %>
				});
			});
			socket.on('serverGetLogs', function (data) {
				$('#logList').empty();
				for( var i in data ){
					$('#logList').append("<li>"+data[i].text+"</li>");
				}
	        });
			socket.on('serverGetDislikesNum', function(data){
				$('#dislikeNum').text(data);
			});
		});
	</script>
</body>
</html>