<!DOCTYPE html>
<head>
	<% include ./templates/head.ejs %>
	<style>
		<% include ./style/workpage.css %>
	</style>
</head>
<body>
	<header>
        <% include ./templates/header.ejs %>
    </header>
	<div class="contentBox maxWrapper">
        <div class="content">
			<section>
				<div id="workhead">
					<h1><%= work.name %></h1>
					<span id="buttons">
						<button class="dislike" id="<%=work.id%>">싫어요 <%= numDislikes %></button>
						<button class="joins" id="<%=work.id%>">참여</button>
					</span>
					<h2><%= work.desc %></h2>
				</div>
				<div>
					<h3>README.md</h3>
					<%- include('../../public/workpage/'+work.name+'/front.html') %>
				</div>
				<div>
					<!--group participants-->
				</div>
				<div>
					<h3>README.md</h3>
					<%- include('../../public/workpage/'+work.name+'/needs.html') %>
				</div>
			</section>
			<section>
				<!--print group Q&A-->
			</section>
		</div>
	</div>
	<footer>
        <% include ./templates/footer.ejs %>
    </footer>
	<script>
		
		
		socket.on('server_update',function(data){
			// update client
		});
	</script>
</body>
</html>