<!DOCTYPE html>
<head>
	<% include ./templates/head.ejs %>
	<style>
		<% include ./style/workpage.css %>
	</style>
	<% if(login && user.nickname == object.nickname) { %>
		<link rel="stylesheet" href="//cdn.jsdelivr.net/editor/0.1.0/editor.css">
	    <script src="/js/editor.js"></script>
	    <script src="/js/marked.js"></script>
	    <script>
			function editBio() {
				$('#editBio').attr({
						id: 'saveBio',
						onClick: 'saveBio()'
				}).text('저장하자');
				$('#bio').html('<div class="editor-wrapper"><textarea id="bioTextarea" class="editor" name="bio" rows="8" cols="40"></textarea></div>');
				bioEditor = new Editor({
					element: document.getElementById('bioTextarea')
				});
				bioEditor.render();
				bioEditor.codemirror.setValue($('#originMD').text().trim());
				$("html, body").animate({scrollTop: $(document).height()});
			}
	        function saveBio() {
	            $.ajax({
	                type: "POST",
	                url: '/user/<%=user.name%>',
	                xhrFields: {
	                       withCredentials: true
	                },
	                data: {
	                    bio: bioEditor.codemirror.getValue()
	                },
	                success: function(data, status) {
	                    console.log(data);
	                    switch(data) {
	                        case '200': {
	                            location.reload();
	                            break;
	                        }
	                        case '400': {
	                            //미구현
	                             break;
	                        }
	                        case '500': {
								alert('서버에 문제가 있다. 담당자를 때려죽이고 고쳐서 커밋하자.');
	                            //임시구현
	                        }
	                    }
	                }
	            });
	        }
	    </script>
		<div id='originMD'>
			<%- include('../../public/userbios/'+object.nickname+'/bio.md') %>
		</div>
	<% } %>
</head>
<body>
	<header>
        <% include ./templates/header.ejs %>
    </header>
	<div class="contentBox maxWrapper">
        <div class="content">
			<article>
				<div id="workhead">
					<h1><%= work.name %></h1>
					<span id="buttons">
						<button class="dislike" id="<%=work.id%>" dislikes=<%=numDislikes%>>싫어요 <span class='hh'><%= numDislikes %></span></button>
						<button class="joins" id="<%=work.id%>">참여</button>
					</span>
					<h2><%= work.desc %></h2>
				</div>
				<section id='readme' class='md'>
					<h3>README.md</h3>
					<%- include('../../public/workpage/'+work.name+'/front.html') %>
				</section>
				<div>
					<!--group participants-->
				</div>
				<section id='needs' class='md'>
					<h3>이런 사람 와라</h3>
					<%- include('../../public/workpage/'+work.name+'/needs.html') %>
				</section>
				<section>
					<h3>로그오브공작</h3>
					<!--여기에 소켓으로 로그 긁어와서 보여주기-->
					<form action="/work/<%=work.name%>" method="post">
						<input type="submit" value="똥싸기">
					</form>
				</section>
			</article>
		</div>
	</div>
	<footer>
        <% include ./templates/footer.ejs %>
    </footer>
	<script>
		var socket = io.connect('http://<%=host%><%=port%>');
		var disliked = false;
		$('.dislike').click(function(){
			console.log("dislike emitted");
			var id = $(this).attr('id');
			socket.emit('clientUpdateDislike', {
				workId: <%=work.id%>,
				<% if(user) { %>
				userId: <%=user.id%>
				<% } else { %>
				user: null
				<% } %>
			});
		});
		$('.joins').click(function(){
			console.log("joins emitted");
			var id = $(this).attr('id');
			socket.emit('clientUpdateJoin',{
				workId: <%=work.id%>,
				<% if(user) { %>
				userId: <%=user.id%>
				<% } else { %>
				user: null
				<% } %>
			});
		});
		
		socket.on('serverUpdate',function(data){
			
		});
	</script>
</body>
</html>